@charset "utf-8";

@import url("utility.css");

/* font */
@font-face {
  font-family: NanumBarunGothic;
  src: url("../fonts/NanumBarunGothic.ttf") format("truetype");
}
@font-face {
  font-family: NanumBarunGothicBold;
  src: url("../font/NanumBarunGothicBold.ttf") format("truetype");
}
@font-face {
  font-family: NanumBarunGothicLight;
  src: url("../font/NanumBarunGothicLight.ttf") format("truetype");
}
@font-face {
  font-family: NanumBarunGothicExtraLight;
  src: url("../font/NanumBarunGothicExtraLight.ttf") format("truetype");
}

/* :root {
  --bg-color: #eae8fe;
  --point-color: #6327fe;
} */

/* style */
/* NEW:: css 작업 시작 때 box-sizing으로 설정하는 것이 좋다 */
* {
  margin: 0;
  padding: 0;
  color: black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "NanumBarunGothic", "맑은 고딕", "HelveticaNeue";
}

/* header */
.header {
  background: #f6f5ef;
  border-top: 2px solid black;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header-wrap {
  width: 1100px;
  margin: 0 auto;
  height: 120px;
}
.logo {
  position: absolute;
  top: 22px;
  width: 75px;
  /* height: 75px; */
}

/* header - menu */
.menu {
  float: right;
  font: normal 13px Avenir, Arial, georgia;
}
.menu-side {
  margin-top: 15px;
  display: flex;
  justify-content: end;
}
.menu-side__list {
  display: flex;
}
.menu-side__list li {
  padding: 0 10px;
}
.menu-side__list a {
  color: #555;
}
.menu-side__search input {
  display: none;
}
.menu-side__search button {
  width: 34px;
  height: 34px;
  top: 10px;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: url(../images/icon_search.png) no-repeat center #fff;
}
.menu-side__layer {
}

.menu-global {
  margin-top: 19px;
  display: flex;
}
.menu-global li {
  padding: 10px 24px 0;
  text-align: center;
  line-height: 20px;
}
.menu-global a {
  display: block;
  height: 60px;
  color: #333;
}
.menu-global li:hover {
  background: #2c2a29;
}
.menu-global li:hover a {
  color: #669900;
  text-decoration: underline;
}
/* main */
.container {
  padding-top: 120px;
  width: 1100px;
  margin: 0 auto;
}
.breadcrumbs {
  height: 90px;
  /* position: relative; */
}
.breadcrumbs__home {
  /* position: relative; */
  /* top: 30px; */
  /* top: 30%; */
  padding-top: 30px;
  font-size: 30px;
  font-weight: bold;
}
.breadcrumbs__list {
  float: right;
  /* position: absolute; */
  /* right: 0; */
  /* top: 60px; */
  font-size: 12px;
}
.breadcrumbs__item {
  float: left;
}
.breadcrumbs__item a {
  color: #666;
  /* vertical-align: middle; */
}
.breadcrumbs__item ~ li::before {
  content: ">";
  margin: 0 5px;
  /* display: block; */
}
.breadcrumbs__item.item-home {
  width: 15px;
  height: 15px;
  display: block;
  margin-top: -3px;
  background: url("../images/icon_home.png") center no-repeat;
}

/* content */
.content {
}
.content.pageFood {
}

.product-accordion {
  position: relative;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.product-accordion__title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.product-accordion__button {
  background: transparent;
  position: absolute;
  top: 15px;
  right: 30px;
  border-style: none;
  width: 42px;
  height: 42px;
  cursor: pointer;
}
.product-accordion__menu {
  padding: 30px 0 0 0;
}
.product-accordion__menu img {
  width: 335px;
}
.product-accordion__menuTab {
}
.product-accordion__menuTab button {
  width: 200px;
  line-height: 35px;
  border-radius: 3px;

  background: #f4f4f1;
  color: #222;
  font-size: 14px;
  border-style: none;
}
.product-accordion__menuTab button ~ button {
  margin: 0 10px;
}
.product-accordion__menuTab .active {
  background: #006633;
  color: #fff;
}
/* CHECK:: 체크박스 스타일링 */
.product-accordion__menuCat {
  /* display: none; */
  /* NEW:: checkbox와 정렬 맞출 때 position: relative 사용해보기 */
  margin: 20px 0;
  font-size: 14px;
}
.product-accordion__menuCat label {
  color: #3f4141;
  margin-right: 30px;
}
.product-accordion__menuCat input[type="checkbox"] {
  vertical-align: middle;
  width: 20px;
}
.product-accordion__menuTheme {
  display: none;
  margin-top: 20px;
}
.menuTheme-list {
  display: flex;
  flex-wrap: wrap;
}
.menuTheme-list li {
  margin: 5px;
}
.product-content {
  position: relative;
}
.product-content__menu {
  background: green;
}
.product-content__menuTab {
  display: flex;
  border-radius: 3px;
  color: #666;
  margin: 40px 0 10px 0;
}
.product-content__menuTab li {
  line-height: 26px;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0 9px 0 25px;
  margin-right: 15px;
}
.viewPhoto {
  background: url(../images/icon_pic.png) no-repeat 8px;
}
.viewPhoto.active {
  background: #666 url(../images/icon_pic_on.png) no-repeat 8px;
}
.viewIngredients {
  background: url(../images/icon_ante.png) no-repeat 8px;
}
.viewIngredients.active {
  background: #666 url(../images/icon_ante_on.png) no-repeat 8px;
}
.product-content__menuTab li.active a {
  color: #fff;
}
.product-content__menuSelect {
  position: absolute;
  right: 0;
  top: 0;
  width: 236px;
}
.product-content__menuSelect .menuSelect-btn {
  width: 100%;
  border-style: none;
  font-size: 14px;
  color: #444;
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 38px;
  text-align: left;
  padding: 0 10px;
  overflow: hidden;
  background: #fff url(../images/sbox_arrow_down.png) no-repeat right 10px;
}
.menuSelect-content {
  display: none;
}

/* 제품 리스트 */
.product-content__result {
}
.result-section {
  margin-bottom: 40px;
}
.result-section__title {
  font-size: 18px;
  font-weight: bold;
  color: #222;

  padding: 20px;
  background: #f4f4f2;
  margin-bottom: 20px;
  border-radius: 3px;
  overflow: hidden;
}
.result-section__list {
  display: flex;
  flex-wrap: wrap;
}
.result-section__item {
  margin: 0 8px 20px 8px;
}
.result-section__item a {
}
.result-section__item img {
  width: 258px;
}
.result-section__item p {
  height: 54px;
  line-height: 54px;
  font-size: 14px;
  color: #444;
  text-align: center;
}
.product-content__result table {
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.product-content__result th {
  padding: 16px 0;
  font-weight: bold;
  color: #222;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
.product-content__result td {
  padding: 16px 0;
  color: #666;
  border-bottom: 1px solid #ddd;
}
/* 사진으로 보기 */
.product-content__result.photo {
}
/* 영양정보로 보기 */
.product-content__result.ingredients {
}

/* footer */
.footer {
  background: #2c2a29;
  clear: both;
  padding: 32px 0 35px 0;
  /* position: relative; */
  /* width: 100%; */
}
.footer-wrap {
  width: 1182px;
  margin: 0 auto;
}
.footer-pages__list {
  display: flex;
  flex-wrap: wrap;
}
.footer-pages__list:last-child:after {
  width: 14px;
  content: "";
  display: block;
  margin-left: 65px;
  background: url(../images/footer_logo.png) no-repeat;
}
.footer-pages__item {
  /* width: 18%; */
  width: 220px;
  margin-bottom: 30px;
}
.footer-pages__item a {
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}
.footer-pages__item .itemTitle {
  /* color: #fff; */
  font-size: 14px;
  line-height: 40px;
}
.footer-awards {
  /* border: 1px solid red; */
  background: #282828;
  margin-top: 40px;
}
.footer-awards__list {
  display: flex;
  padding: 30px 0;
}
.footer-awards__item {
}
.footer-awards__item img {
}

.footer-info {
  text-align: center;
  font-size: 12px;
}
.footer-info__termsList {
  /* border: 1px solid #ccc; */

  display: flex;
  justify-content: center;
  margin: 30px auto 0;
}
.footer-info__termsList a {
  color: #ccc;
  line-height: 18px;
  border-right: 1px solid #393939;
  padding: 0 10px;
}
.footer-info__termsList li:first-child a {
  color: #00b050;
}
.footer-info__linkList {
  /* border: 1px solid #fff; */
  margin: 0 0 10px 0;
}
.footer-info__linkList a {
  display: inline-block;
  color: #fff;
  line-height: 30px;
  border: 2px solid #fff;
  border-radius: 3px;
  margin: 10px 4px 0 4px;
  width: 93px;
}
.footer-info__address {
  /* border: 1px solid #999; */
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.footer-info__address dd {
  margin-right: 7px;
  color: #999;
}
.footer-info__address dt {
  margin-left: 7px;
  color: #999;
}
.footer-info__copyright {
  color: #999;
  line-height: 40px;
}
/* media query */
