@charset "utf-8";

@import url("utility.css");

/* font */
@font-face {
  font-family: NanumBarunGothic;
  src: url("../fonts/NanumBarunGothic.ttf") format("truetype");
}
@font-face {
  font-family: NanumBarunGothicBold;
  src: url("../font/NanumBarunGothicBold.ttf") format("truetype");
}
@font-face {
  font-family: NanumBarunGothicLight;
  src: url("../font/NanumBarunGothicLight.ttf") format("truetype");
}
@font-face {
  font-family: NanumBarunGothicExtraLight;
  src: url("../font/NanumBarunGothicExtraLight.ttf") format("truetype");
}

/* :root {
  --bg-color: #eae8fe;
  --point-color: #6327fe;
} */

/* style */
/* NEW:: css 작업 시작 때 box-sizing으로 설정하는 것이 좋다 */
* {
  margin: 0;
  padding: 0;
  color: black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "NanumBarunGothic", "맑은 고딕", "HelveticaNeue";
}

/* header */
.header {
  background: #f6f5ef;
  border-top: 2px solid black;
  border-bottom: 1px solid #e5e5e5;
}
.header-wrap {
  width: 1100px;
  margin: 0 auto;
  height: 120px;
}
.logo {
  position: absolute;
  top: 22px;
  width: 75px;
  /* height: 75px; */
}

/* header - menu */
.menu {
  float: right;
  font: normal 13px Avenir, Arial, georgia;
}
.menu-side {
  margin-top: 15px;
  display: flex;
  justify-content: end;
}
.menu-side__list {
  display: flex;
}
.menu-side__list li {
  padding: 0 10px;
}
.menu-side__list a {
  color: #555;
}
.menu-side__search input {
  display: none;
}
.menu-side__search button {
  width: 34px;
  height: 34px;
  top: 10px;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: url(../images/icon_search.png) no-repeat center #fff;
}
.menu-side__layer {
}

.menu-global {
  margin-top: 19px;
  display: flex;
}
.menu-global li {
  padding: 10px 24px 0;
  text-align: center;
  line-height: 20px;
}
.menu-global a {
  display: block;
  height: 60px;
  color: #333;
}

/* main */
.container {
  width: 1100px;
  margin: 0 auto;
}
.breadcrumbs {
  height: 90px;
  position: relative;
}
.breadcrumbs__home {
  position: relative;
  top: 30px;
  /* top: 30%; */
  font-size: 30px;
  font-weight: bold;
}
.breadcrumbs__list {
  float: right;
  position: absolute;
  right: 0;
  top: 60px;
  font-size: 12px;
}
.breadcrumbs__item {
  float: left;
}
.breadcrumbs__item::after {
}
.breadcrumbs__list.item-home {
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  background-image: url("../images/icon_home.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* content */
.content {
}
.content.pageFood {
}

.product-accordion {
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.product-accordion__title {
}
.product-accordion__button {
}
.product-accordion__menu {
}
.product-accordion__menu img {
  width: 335px;
}
.product-accordion__menuTab {
}
.product-accordion__menuCat {
  /* NEW:: checkbox와 정렬 맞출 때 position: relative 사용해보기 */
}
.product-accordion__menuTheme {
  /* display: none; */
}
.menuTheme-list {
  display: flex;
  flex-wrap: wrap;
}

.product-content {
  position: relative;
}
.product-content__menu {
  background: green;
}
.product-content__menuTab {
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #666;
}
.product-content__menuSelect {
  position: absolute;
  right: 0;
  width: 236px;
  background: grey;
}

/* 제품 리스트 */
.product-content__result {
}
.result-section {
  margin-bottom: 40px;
}
.result-section__title {
  font-size: 18px;
  font-weight: bold;
  color: #222;

  padding: 20px;
  background: #f4f4f2;
  margin-bottom: 20px;
  border-radius: 3px;
  overflow: hidden;
}
.result-section__list {
  display: flex;
  flex-wrap: wrap;
}
.result-section__item {
  margin: 0 8px 20px 8px;
}
.result-section__item a {
}
.result-section__item img {
  width: 258px;
}
.result-section__item p {
  height: 54px;
  line-height: 54px;
  font-size: 14px;
  color: #444;
  text-align: center;
}
.product-content__result table {
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.product-content__result th {
  padding: 16px 0;
  font-weight: bold;
  color: #222;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
.product-content__result td {
  padding: 16px 0;
  color: #666;
  border-bottom: 1px solid #ddd;
}
/* 사진으로 보기 */
.product-content__result.photo {
}
/* 영양정보로 보기 */
.product-content__result.ingredients {
}

/* footer */
.footer {
}
.footer-wrap {
}
.footer-pages {
}
.footer-pages__list {
}
.footer-pages__item {
}

.footer-awards {
}
.footer-awards__list {
}
.footer-awards__item {
}

.footer-info {
}
.footer-info__termsList {
}
.footer-info__linkList {
}
.footer-info__address {
}
.footer-info__copyright {
}
/* media query */
